@using System.Data
@using Microsoft.AspNetCore.Authentication
@model IndexModel
@{
    ViewData["Title"] = "TMA Internship";
}

<!-- Page Header -->
<div class="pl-0">
    <div class="row align-items-end">
        <div class="col-sm mb-2 mb-sm-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-no-gutter">
                    <li class="breadcrumb-item"><a class="breadcrumb-link" href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Index</li>
                </ol>
            </nav>
            <h3 class="page-header-title mb-5">@ViewData["Title"] <span class="badge badge-soft-dark ml-2">@Model.Pager.TotalItems</span></h3>
        </div>

        <div class="col-sm-auto">
            <button type="button" class="btn btn-sm btn-primary mb-3" data-toggle="modal" data-target="#exampleModal">
                Add intern
            </button>
        </div>
    </div>
    <!-- End Row -->
</div>
<!-- End Page Header -->
<!-- Card -->
<div class="card mb-3 mb-lg-5">
    <!-- Header -->
    <div class="card-header">
        <div class="row justify-content-between align-items-center flex-grow-1">
            <div class="col-12 col-md">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="card-header-title">Datatable</h5>

                    <!-- Datatable Info -->
                    <div id="datatableCounterInfo" style="display: none;">
                        <div class="d-flex align-items-center">
                            <span class="font-size-sm mr-3">
                                <span id="datatableCounter">0</span>
                                Selected
                            </span>
                            <a class="btn btn-sm btn-outline-danger" href="javascript:;">
                                <i class="tio-delete-outlined"></i> Delete
                            </a>
                        </div>
                    </div>
                    <!-- End Datatable Info -->
                </div>
            </div>

            <div class="col-auto">
                <!-- Filter -->
                <div class="row align-items-sm-center">
                    <div class="col-sm-auto">
                        <div class="d-flex align-items-center mr-2">
                            <span class="text-secondary mr-2">Type:</span>

                            <!-- Select -->
                            <select class="js-select2-custom js-datatable-filter custom-select-sm" size="1" style="opacity: 0;"
                                    data-target-column-index="2"
                                    data-hs-select2-options='{
                                "minimumResultsForSearch": "Infinity",
                                "customClass": "custom-select custom-select-sm custom-select-borderless",
                                "dropdownAutoWidth": true,
                                "width": true
                              }'>
                                <option value="">All</option>
                                <option value="Full time">Full time</option>
                                <option value="Part time">Part time</option>
                            </select>
                            <!-- End Select -->
                        </div>
                    </div>

                    <div class="col-sm-auto">
                        <div class="d-flex align-items-center mr-2">
                            <span class="text-secondary mr-2">Sort by:</span>

                            <!-- Select -->
                            <select class="js-select2-custom js-datatable-sort custom-select-sm" size="1" style="opacity: 0;"
                                    data-target-column-index="5"
                                    data-hs-select2-options='{
                                "minimumResultsForSearch": "Infinity",
                                "customClass": "custom-select custom-select-sm custom-select-borderless",
                                "dropdownAutoWidth": true,
                                "width": true
                              }'>
                                <option value="Name">Name</option>
                                <option value="Index">Index</option>
                                <option value="Date">Created</option>
                                <option value="Mentor">Mentor</option>
                                <option value="Training">Expertise</option>
                            </select>
                            <!-- End Select -->
                        </div>
                    </div>

                    <div class="col-md">
                        <form>
                            <!-- Search -->
                            <div class="input-group input-group-merge input-group-flush">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="tio-search"></i>
                                    </div>
                                </div>
                                <input id="datatableSearch" type="search" class="form-control" placeholder="Search users" aria-label="Search users">
                            </div>
                            <!-- End Search -->
                        </form>
                    </div>
                </div>
                <!-- End Filter -->
            </div>
        </div>
    </div>
    <!-- End Header -->
    <!-- Table -->
    <div class="table-responsive datatable-custom">
        <table id="datatable" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table"
               data-hs-datatables-options='{
                     "columnDefs": [{
                        "targets": [0,1,2,3,4,5,6,7,8],
                        "orderable": false
                      }],
                     "order": [],
                     "search": "#datatableSearch"
                   }'>
            <thead class="thead-light">
                <tr>
                    <th class="table-column-pr-0">
                        <div class="custom-control custom-checkbox">
                            <input id="datatableCheckAll" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="datatableCheckAll"></label>
                        </div>
                    </th>
                    <th class="table-column-pl-0">Name</th>
                    <th>Position</th>
                    <th>Duration</th>
                    <th>Phone</th>
                    <th>Organization</th>
                    <th>Expertise</th>
                    <th>Mentor</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (DataRow X in Model.Internl.Rows)
                {
                    <tr>
                        <td class="table-column-pr-0">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check-@X["InternId"]">
                                <label class="custom-control-label" for="check-@X["InternId"]"></label>
                            </div>
                        </td>
                        <td class="table-column-pl-0">
                            <a class="d-flex align-items-center" href="javascript:void(0)">
                                <div class="avatar avatar-circle" data-toggle="tooltip" data-placement="top" title="@X["InternId"]: @X["CreatedDate"]">
                                    <img class="avatar-img" src="~/img/img1.jpg" alt="Image Description">
                                </div>
                                <div class="ml-3" onclick="ShowInternData(@X["TrainingId"])">
                                    <span class="d-block h5 text-hover-primary mb-0">@X["FullName"]</span>
                                    <span class="d-block font-size-sm text-body">@X["Email"]</span>
                                </div>
                            </a>
                        </td>
                        <td>
                            <span class="d-block h5 mb-0">@X["DepName"]</span>
                            <span class="d-block font-size-sm">@X["Type"]</span>
                        </td>
                        <td>
                            <span>@X["Duration"]</span>
                        </td>
                        <td>
                            <span class="badge badge-soft-info">
                                <span class="bg-info"></span>@X["Phone"]
                            </span>
                        </td>
                        <td>
                            <span>@X["OrgName"]</span>
                        </td>
                        <td>
                            <span>@X["TraName"]</span>
                        </td>
                        <td>
                            <span>@X["Mentor"] <i class="tio-verified text-primary" data-toggle="tooltip" data-placement="top" title="@X["Email"]"></i></span>
                        </td>
                        <td>
                            <div id="removeInternPopover" data-toggle="popover-dark" data-placement="left" title="Trainees will leave TMA" data-content="Check out this.">
                                <a class="btn btn-sm btn-white" href="javascript:;" onclick="InternLeave(@X["InternId"], this)">
                                    <i class="tio-remove-circle-outlined"></i> Leave
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- End Table -->
    <!-- Footer -->
    <div class="card-footer">
        <!-- Pagination -->
        <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
            <div class="col-sm mb-2 mb-sm-0">
                <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                    <span class="mr-2">Showing:</span>

                    <!-- Select -->
                    <select id="datatableEntries" class="js-select2-custom"
                            data-hs-select2-options='{
                            "minimumResultsForSearch": "Infinity",
                            "customClass": "custom-select custom-select-sm custom-select-borderless",
                            "dropdownAutoWidth": true,
                            "width": true
                          }'>
                        <option value="4">4</option>
                        <option value="6">6</option>
                        <option value="8" selected>8</option>
                        <option value="12">12</option>
                    </select>
                    <!-- End Select -->

                    <span class="text-secondary mr-2">of</span>

                    <!-- Pagination Quantity -->
                    <span id="datatableWithPaginationInfoTotalQty">@Model.Pager.TotalItems</span>
                </div>
            </div>

            <div class="col-sm-auto">
                <div class="d-flex justify-content-center justify-content-sm-end">
                    <!-- Pagination -->
                    <nav id="datatablePagination">
                        <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
                            <ul id="datatable_pagination" class="pagination datatable-custom-pagination">
                                <li class="paginate_item page-item">
                                    <a href="/?size=@Model.Pager.PageSize&page=@Model.Pager.StartPage"
                                       class="paginate_button page-link">
                                        <span aria-hidden="true">Start</span>
                                    </a>
                                </li>

                                @foreach (var i in Model.Pager.Pages)
                                {
                                    <li class="paginate_item page-item @Model.CheckActive(i)">
                                        <a href="/?size=@Model.Pager.PageSize&page=@i"
                                           class="paginate_button page-link">@i</a>
                                    </li>
                                }

                                <li class="paginate_item page-item">
                                    <a href="/?size=@Model.Pager.PageSize&page=@Model.Pager.EndPage"
                                       class="paginate_button page-link">
                                        <span aria-hidden="true">End</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End Pagination -->
    </div>
    <!-- End Footer -->
</div>
<!-- End Card -->





<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="js-validate" asp-controller="Home" asp-action="Index">
            <div class="modal-content">
                <!-- Header -->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create a new intern</h5>
                    <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal" aria-label="Close">
                        <i class="tio-clear tio-lg" aria-hidden="true"></i>
                    </button>
                </div>
                <!-- End Header -->
                <!-- Body -->
                <div class="card-body">
                    <!-- Form Group -->
                    <div class="row form-group">
                        <label class="col-sm-3 col-form-label input-label">Avatar</label>

                        <div class="col-sm-9">
                            <div class="d-flex align-items-center">
                                <!-- Avatar -->
                                <label class="avatar avatar-xl avatar-circle avatar-uploader mr-5" for="avatarUploader">
                                    <img id="avatarImg" class="avatar-img" src="/img/img1.jpg" alt="Image Description">

                                    <input asp-for="Avatar" type="file" class="js-file-attach avatar-uploader-input" id="avatarUploader" data-hs-file-attach-options='{
                                        "textTarget": "#avatarImg",
                                        "mode": "image",
                                        "targetAttr": "src",
                                        "resetTarget": ".js-file-attach-reset-img",
                                        "resetImg": "/img/img1.jpg",
                                        "allowTypes": [".png", ".jpeg", ".jpg"]
                                     }'>

                                    <span class="avatar-uploader-trigger">
                                        <i class="tio-edit avatar-uploader-icon shadow-soft"></i>
                                    </span>
                                </label>
                                <!-- End Avatar -->

                                <button type="button" class="js-file-attach-reset-img btn btn-white">Delete</button>
                            </div>
                        </div>
                    </div>
                    <!-- End Form Group -->
                    <!-- Form Group -->
                    <div class="row form-group">
                        <label for="firstNameLabel" class="col-sm-3 col-form-label input-label">Full name <i class="tio-help-outlined text-body ml-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Displayed on public forums, such as Front."></i></label>

                        <div class="col-sm-9">
                            <div class="input-group input-group-sm-down-break">
                                <input asp-for="FirstName" type="text" required class="form-control" name="firstName" id="firstNameLabel" placeholder="Clarice" aria-label="Clarice">
                                <input asp-for="LastName" type="text" required class="form-control" name="lastName" id="lastNameLabel" placeholder="Boone" aria-label="Boone">
                            </div>
                        </div>
                    </div>
                    <!-- End Form Group -->
                    <!-- Form Group -->
                    <div class="row form-group">
                        <label for="firstNameLabel" class="col-sm-3 col-form-label input-label">Birthday</label>

                        <div class="col-sm-9">
                            <div class="input-group input-group-sm-down-break">
                                <!-- Flatpickr -->
                                <input asp-for="DateOfBirth" type="text" class="js-flatpickr form-control" placeholder="Select dates"
                                       data-hs-flatpickr-options='{
                                           "dateFormat": "Y-m-d"
                                       }'>
                                <!-- End Flatpickr -->

                                <div class="input-group-append">
                                    <!-- Select2 -->
                                    <select asp-for=Gender class="js-select2-custom custom-select" size="1" style="opacity: 0;"
                                            data-hs-select2-options='{"minimumResultsForSearch": "Infinity",
                                                                  "placeholder": "Select gender"}'>
                                        <option label="empty"></option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                    <!-- End Select2 -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Form Group --> <!-- Form Group -->
                    <div class="row form-group">
                        <label for="emailLabel" class="col-sm-3 col-form-label input-label">Email</label>

                        <div class="col-sm-9">
                            <input asp-for="Email" type="email" required class="form-control" name="email" id="emailLabel" placeholder="clarice@example.com" aria-label="clarice@example.com">
                        </div>
                    </div>
                    <!-- End Form Group -->
                    <!-- Form Group -->
                    <div class="row form-group">
                        <label for="emailLabel" class="col-sm-3 col-form-label input-label">Phone</label>
                        <div class="col-sm-9">
                            <input asp-for="Phone" type="text" required class="js-masked-input form-control" placeholder="+84 000 000 000"
                                   data-hs-mask-options='{
                                   "template": "+00 000 000 000"
                                   }' maxlength="16" />
                        </div>
                    </div>
                    <!-- End Form Group -->
                    <!-- Form Group -->
                    <div class="row form-group">
                        <label for="emailLabel" class="col-sm-3 col-form-label input-label">Duration</label>
                        <div class="col-sm-9">
                            <input asp-for="Duration" type="text" required class="js-masked-input form-control" placeholder="Start Date - End Date"
                                   data-hs-mask-options='{
                                   "template": "00/00/0000 - 00/00/0000"
                                   }'>
                        </div>
                    </div>
                    <!-- End Form Group -->
                    <!-- Form Group -->
                    <div class="row form-group">
                        <label class="col-sm-3 col-form-label input-label">Organization</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm-down-break">
                                <!-- Select2 -->
                                <select asp-for=Organization class="js-select2-custom custom-select" size="1" style="opacity: 0;"
                                        data-hs-select2-options='{"minimumResultsForSearch": "Infinity",
                                                                  "placeholder": "Select one"}'>
                                    <option label="empty"></option>
                                    @foreach (var og in Model.Organizationl)
                                    {
                                        <option value="@og.OrganizationId">@og.OrgName</option>
                                    }
                                </select>
                                <!-- End Select2 -->
                            </div>
                        </div>
                    </div>
                    <!-- End Form Group -->
                    <!-- Form Group -->
                    <div class="row form-group">
                        <label class="col-sm-3 col-form-label input-label">Courses</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm-down-break">
                                <!-- Select2 -->
                                <select asp-for=Training class="js-select2-custom custom-select" size="1" style="opacity: 0;"
                                        data-hs-select2-options='{"minimumResultsForSearch": "Infinity",
                                                                  "placeholder": "Select one"}'>
                                    <option label="empty"></option>
                                    @foreach (var e in Model.Trainingl)
                                    {
                                        <option value="@e.TrainingId">@e.TraName</option>
                                    }
                                </select>
                                <!-- End Select2 -->
                            </div>
                        </div>
                    </div>
                    <!-- End Form Group -->
                    <!-- Form Group -->
                    <div class="row form-group">
                        <label class="col-sm-3 col-form-label input-label">Department</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm-down-break">
                                <!-- Select2 -->
                                <select asp-for=Department class="js-select2-custom custom-select" size="1" style="opacity: 0;"
                                        data-hs-select2-options='{"minimumResultsForSearch": "Infinity",
                                                                  "placeholder": "Select one"}'>
                                    <option label="empty"></option>
                                    @foreach (var de in Model.Departmentl)
                                    {
                                        <option value="@de.DepartmentId">@de.DepName</option>
                                    }
                                </select>
                                <!-- End Select2 -->
                            </div>
                        </div>
                    </div>
                    <!-- End Form Group -->
                    <!-- Form Group -->
                    <div class="row">
                        <label class="col-sm-3 col-form-label input-label">Intern type</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm-down-break">
                                <!-- Select2 -->
                                <select asp-for=Type class="js-select2-custom custom-select" size="1" style="opacity: 0;"
                                        data-hs-select2-options='{"minimumResultsForSearch": "Infinity",
                                                                  "placeholder": "Select one"}'>
                                    <option label="empty"></option>
                                    <option value="Full time">Full time</option>
                                    <option value="Part time">Part time</option>
                                </select>
                                <!-- End Select2 -->
                            </div>
                        </div>
                    </div>
                    <!-- End Form Group -->
                </div>
                <!-- End Body -->
                <!-- Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <!-- End Footer -->
            </div>
        </form>
    </div>
</div>
