@using System.Data
@model IndexModel
@{
    ViewData["Title"] = "TMA Internship";
}

<!-- Page Header -->
<div class="pl-0">
    <div class="row align-items-end">
        <div class="col-sm mb-2 mb-sm-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-no-gutter">
                    <li class="breadcrumb-item"><a class="breadcrumb-link" href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Index</li>
                </ol>
            </nav>
            <h3 class="page-header-title mb-5">@ViewData["Title"] <a href="javascript:;" class="badge badge-soft-dark ml-2">@Model.Pager.TotalItems</a></h3>
        </div>

        <div class="col-sm-auto">
            <button id="addi-btn" type="button" class="btn btn-sm btn-primary mb-4" data-toggle="modal" data-target="#exampleModal">
                <i class="tio-add-circle-outlined"></i> Add intern
            </button>
        </div>
    </div>
    <!-- End Row -->
</div>
<!-- End Page Header -->
<!-- Stats -->
<div class="row">
    <div class="col-sm-6 col-lg-3 mb-3 mb-lg-6">
        <!-- Card -->
        <div class="card card-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <!-- Media -->
                        <div class="media">
                            <i class="tio-receipt-outlined nav-icon"></i>

                            <div class="media-body">
                                <h4 class="mb-1">Spent</h4>
                                <span class="d-block">-$71,431.00 USD</span>
                            </div>
                        </div>
                        <!-- End Media -->
                    </div>

                    <div class="col-auto">
                        <!-- Circle -->
                        <div class="js-circle"
                             data-hs-circles-options='{
                           "value": 54,
                           "maxValue": 100,
                           "duration": 2000,
                           "isViewportInit": true,
                           "colors": ["#e7eaf3", "#377dff"],
                           "radius": 25,
                           "width": 3,
                           "fgStrokeLinecap": "round",
                           "textFontSize": 14,
                           "additionalText": "%",
                           "textClass": "circle-custom-text",
                           "textColor": "#377dff"
                         }'></div>
                        <!-- End Circle -->
                    </div>
                </div>
                <!-- End Row -->
            </div>
        </div>
        <!-- End Card -->
    </div>

    <div class="col-sm-6 col-lg-3 mb-3 mb-lg-6">
        <!-- Card -->
        <div class="card card-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <!-- Media -->
                        <div class="media">
                            <i class="tio-chart-bar-1 nav-icon"></i>

                            <div class="media-body">
                                <h4 class="mb-1">Progress</h4>
                                <span class="font-size-sm text-success">
                                    <i class="tio-trending-up"></i> 1.7%
                                </span>
                            </div>
                        </div>
                        <!-- End Media -->
                    </div>

                    <div class="col-auto">
                        <!-- Circle -->
                        <div class="js-circle"
                             data-hs-circles-options='{
                           "value": 80,
                           "maxValue": 100,
                           "duration": 2000,
                           "isViewportInit": true,
                           "colors": ["#e7eaf3", "#377dff"],
                           "radius": 25,
                           "width": 3,
                           "fgStrokeLinecap": "round",
                           "textFontSize": 14,
                           "additionalText": "%",
                           "textClass": "circle-custom-text",
                           "textColor": "#377dff"
                         }'></div>
                        <!-- End Circle -->
                    </div>
                </div>
                <!-- End Row -->
            </div>
        </div>
        <!-- End Card -->
    </div>

    <div class="col-sm-6 col-lg-3 mb-3 mb-lg-6">
        <!-- Card -->
        <div class="card card-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <!-- Media -->
                        <div class="media">
                            <i class="tio-checkmark-circle-outlined nav-icon"></i>

                            <div class="media-body">
                                <h4 class="mb-1">Tasks closed</h4>
                                <span class="d-block">79 <span class="badge badge-soft-dark badge-pill ml-1">+4 today</span></span>
                            </div>
                        </div>
                        <!-- End Media -->
                    </div>

                    <div class="col-auto">
                        <!-- Circle -->
                        <div class="js-circle"
                             data-hs-circles-options='{
                           "value": 67,
                           "maxValue": 100,
                           "duration": 2000,
                           "isViewportInit": true,
                           "colors": ["#e7eaf3", "#377dff"],
                           "radius": 25,
                           "width": 3,
                           "fgStrokeLinecap": "round",
                           "textFontSize": 14,
                           "additionalText": "%",
                           "textClass": "circle-custom-text",
                           "textColor": "#377dff"
                         }'></div>
                        <!-- End Circle -->
                    </div>
                </div>
                <!-- End Row -->
            </div>
        </div>
        <!-- End Card -->
    </div>

    <div class="col-sm-6 col-lg-3 mb-3 mb-lg-6">
        <!-- Card -->
        <div class="card card-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <!-- Media -->
                        <div class="media">
                            <i class="tio-award-outlined nav-icon"></i>

                            <div class="media-body">
                                <h4 class="mb-1">Goals</h4>
                                <span class="d-block">41/100</span>
                            </div>
                        </div>
                        <!-- End Media -->
                    </div>

                    <div class="col-auto">
                        <!-- Circle -->
                        <div class="js-circle"
                             data-hs-circles-options='{
                           "value": 41,
                           "maxValue": 100,
                           "duration": 2000,
                           "isViewportInit": true,
                           "colors": ["#e7eaf3", "#377dff"],
                           "radius": 25,
                           "width": 3,
                           "fgStrokeLinecap": "round",
                           "textFontSize": 14,
                           "additionalText": "%",
                           "textClass": "circle-custom-text",
                           "textColor": "#377dff"
                         }'></div>
                        <!-- End Circle -->
                    </div>
                </div>
                <!-- End Row -->
            </div>
        </div>
        <!-- End Card -->
    </div>
</div>
<!-- End Stats -->
<!-- Card -->
<div class="card mb-3 mb-lg-5">
    <!-- Header -->
    <div class="card-header">
        <div class="row justify-content-between align-items-center flex-grow-1">
            <div class="col-12 col-sm ">
                <!-- Search -->
                <div class="input-group input-group-merge input-group-borderless">
                    <div class="input-group-prepend">
                        <div class="pl-0 input-group-text">
                            <i class="tio-search"></i>
                        </div>
                    </div>
                    <input id="datatableSearch" type="search" class="form-control pl-5" placeholder="Type here to search" aria-label="Search users">
                </div>
                <!-- End Search -->
            </div>

            <div class="col-sm-auto">
                <div class="d-flex align-items-center">
                    <!-- Datatable Info -->
                    <div id="datatableCounterInfo" class="mx-2" style="display: none;">
                        <div class="d-flex align-items-center">
                            <span class="font-size-sm mr-3">
                                <span id="datatableCounter">0</span>
                                Selected
                            </span>
                            <a class="btn btn-sm btn-outline-danger" href="javascript:;">
                                <i class="tio-delete-outlined"></i> Delete
                            </a>
                        </div>
                    </div>
                    <!-- End Datatable Info -->
                    <span class="text-secondary mx-2">Type:</span>
                    <!-- Select -->
                    <select class="js-select2-custom js-datatable-filter custom-select-sm" size="1" style="opacity: 0;"
                            data-target-column-index="2"
                            data-hs-select2-options='{
                                "minimumResultsForSearch": "Infinity",
                                "customClass": "custom-select custom-select-sm custom-select-borderless",
                                "dropdownAutoWidth": true,
                                "width": true
                              }'>
                        <option value="">All</option>
                        <option value="Full time">Full time</option>
                        <option value="Part time">Part time</option>
                    </select>
                    <!-- End Select -->

                    <span class="text-secondary mx-2">Sort by:</span>
                    <!-- Select -->
                    <select class="js-select2-custom js-datatable-sort custom-select-sm" size="1" style="opacity: 0;"
                            data-hs-select2-options='{
                                "minimumResultsForSearch": "Infinity",
                                "customClass": "custom-select custom-select-sm custom-select-borderless",
                                "dropdownAutoWidth": true,
                                "width": true
                              }'>
                        <option value="Name">Name</option>
                        <option value="Index">Index</option>
                        <option value="Date">Date</option>
                        <option value="Mentor">Mentor</option>
                        <option value="Training">Training</option>
                    </select>
                    <!-- End Select -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Header -->
    <!-- Table -->
    <div class="table-responsive datatable-custom">
        <table id="datatable" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table"
               data-hs-datatables-options='{
                     "columnDefs": [{
                        "targets": [0,1,2,3,4,5,6,7,8],
                        "orderable": false
                      }],
                     "order": [],
                     "search": "#datatableSearch"
                   }'>
            <thead class="thead-light">
                <tr>
                    <th class="table-column-pr-0">
                        <div class="custom-control custom-checkbox">
                            <input id="datatableCheckAll" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="datatableCheckAll"></label>
                        </div>
                    </th>
                    <th class="table-column-pl-0">Name</th>
                    <th>Position</th>
                    <th>Duration</th>
                    <th>Phone</th>
                    <th>Organization</th>
                    <th>Expertise</th>
                    <th>Mentor</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (DataRow X in Model.Internl.Rows)
                {
                    <tr>
                        <td class="table-column-pr-0">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check-@X["InternId"]">
                                <label class="custom-control-label" for="check-@X["InternId"]"></label>
                            </div>
                        </td>
                        <td class="table-column-pl-0">
                            <a class="d-flex align-items-center" href="javascript:void(0)" onclick="ShowInternData(@X["TrainingId"],@X["InternId"])">
                                <div class="avatar avatar-sm avatar-circle" data-toggle="tooltip" data-placement="top" title="@X["InternId"]: @X["CreatedDate"]">
                                    <img class="avatar-img" src="@X["Avatar"]" alt="Image Description">
                                </div>
                                <div class="ml-3">
                                    <span class="d-block h5 text-hover-primary mb-0">@X["FullName"]</span>
                                    <span class="d-block font-size-sm text-body">@X["Email"]</span>
                                </div>
                            </a>
                        </td>
                        <td>
                            <span class="d-block h5 mb-0">@X["DepName"]</span>
                            <span class="d-block font-size-sm">@X["Type"]</span>
                        </td>
                        <td>
                            <span>@X["Duration"]</span>
                        </td>
                        <td>
                            <span class="badge badge-soft-info">
                                <span class="bg-info"></span>@X["Phone"]
                            </span>
                        </td>
                        <td>
                            <span>@X["OrgName"]</span>
                        </td>
                        <td>
                            <span>@X["TraName"]</span>
                        </td>
                        <td>
                            <div class="ml-3">
                                <span class="d-block text-hover-primary mb-0">@X["Mentor"] <i class="tio-verified text-primary" data-toggle="tooltip" data-placement="bottom" title="@X["Email"]"></i></span>
                            </div>
                        </td>
                        <td>
                            <div class="hs-unfold">
                                <a class="js-hs-unfold-invoker btn btn-sm btn-white" href="javascript:;"
                                   data-hs-unfold-options='{
                                    "target": "#intern-@X["InternId"]",
                                    "type": "jquery-slide",
                                    "event": "hover",
                                    "duration": 100
                                   }'>
                                    More <i class="tio-chevron-down ml-1"></i>
                                </a>

                                <div id="intern-@X["InternId"]" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                    <a class="dropdown-item" href="javascript:;" onclick="InternUpdate(@X["InternId"])">Update info</a>
                                    <a class="dropdown-item" href="javascript:;" onclick="InternEvaluate(@X["InternId"])">Evaluate</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger" href="javascript:;" onclick="InternLeave(@X["InternId"])">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- End Table -->
    <!-- Footer -->
    <div class="card-footer">
        <!-- Pagination -->
        <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
            <div class="col-sm mb-2 mb-sm-0">
                <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                    <span class="mr-2">Showing:</span>

                    <!-- Select -->
                    <select id="datatableEntries" class="js-select2-custom"
                            data-hs-select2-options='{
                            "minimumResultsForSearch": "Infinity",
                            "customClass": "custom-select custom-select-sm custom-select-borderless",
                            "dropdownAutoWidth": true,
                            "width": true
                          }'>
                        <option value="6">6</option>
                        <option value="8">8</option>
                        <option value="12">12</option>
                        <option value="16">16</option>
                    </select>
                    <!-- End Select -->

                    <span class="text-secondary mr-2">of</span>

                    <!-- Pagination Quantity -->
                    <span id="datatableWithPaginationInfoTotalQty">@Model.Pager.TotalItems</span>
                </div>
            </div>

            <div class="col-sm-auto">
                <div class="d-flex justify-content-center justify-content-sm-end">
                    <!-- Pagination -->
                    <nav id="datatablePagination">
                        <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
                            <ul id="datatable_pagination" class="pagination datatable-custom-pagination">
                                <li class="paginate_item page-item">
                                    <a href="/?size=@Model.Pager.PageSize&page=@Model.Pager.StartPage&sort=@Model.Pager.Sort"
                                       class="paginate_button page-link">
                                        <span aria-hidden="true">Start</span>
                                    </a>
                                </li>

                                @foreach (var i in Model.Pager.Pages)
                                {
                                    <li class="paginate_item page-item @Model.CheckActive(i)">
                                        <a href="/?size=@Model.Pager.PageSize&page=@i&sort=@Model.Pager.Sort"
                                           class="paginate_button page-link">@i</a>
                                    </li>
                                }

                                <li class="paginate_item page-item">
                                    <a href="/?size=@Model.Pager.PageSize&page=@Model.Pager.EndPage&sort=@Model.Pager.Sort"
                                       class="paginate_button page-link">
                                        <span aria-hidden="true">End</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End Pagination -->
    </div>
    <!-- End Footer -->
</div>
<!-- End Card -->





<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form id="cui-form" class="js-validate" asp-controller="Home" asp-action="Index">
            <div class="modal-content">
                <!-- Header -->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create a new intern</h5>
                    <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal" aria-label="Close">
                        <i class="tio-clear tio-lg" aria-hidden="true"></i>
                    </button>
                </div>
                <!-- End Header -->
                <!-- Body -->
                <div class="card-body">
                    <!-- Form Group -->
                    <div class="row form-group">
                        <label class="col-sm-3 col-form-label input-label">Avatar</label>

                        <div class="col-sm-9">
                            <div class="d-flex align-items-center">
                                <!-- Avatar -->
                                <label class="avatar avatar-xl avatar-circle avatar-uploader mr-5" for="avatarUploader">
                                    <img id="avatarImg" class="avatar-img" src="/img/img1.jpg" alt="Image Description">

                                    <input asp-for="Avatar" type="file" class="js-file-attach avatar-uploader-input" id="avatarUploader" data-hs-file-attach-options='{
                                        "textTarget": "#avatarImg",
                                        "mode": "image",
                                        "targetAttr": "src",
                                        "resetTarget": ".js-file-attach-reset-img",
                                        "resetImg": "/img/img1.jpg",
                                        "allowTypes": [".png", ".jpeg", ".jpg"]
                                     }'>

                                    <span class="avatar-uploader-trigger">
                                        <i class="tio-edit avatar-uploader-icon shadow-soft"></i>
                                    </span>
                                </label>
                                <!-- End Avatar -->

                                <button type="button" class="js-file-attach-reset-img btn btn-white">Delete</button>
                            </div>
                        </div>
                    </div>
                    <!-- End Form Group -->
                    <!-- Form Group -->
                    <div class="row form-group">
                        <label for="firstNameLabel" class="col-sm-3 col-form-label input-label">Full name <i class="tio-help-outlined text-body ml-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Displayed on public forums, such as Front."></i></label>

                        <div class="col-sm-9">
                            <div class="input-group input-group-sm-down-break">
                                <input asp-for="FirstName" type="text" required class="form-control" name="firstName" id="firstNameLabel" placeholder="Clarice" aria-label="Clarice">
                                <input asp-for="LastName" type="text" required class="form-control" name="lastName" id="lastNameLabel" placeholder="Boone" aria-label="Boone">
                            </div>
                        </div>
                    </div>
                    <!-- End Form Group -->
                    <!-- Form Group -->
                    <div class="row form-group">
                        <label for="firstNameLabel" class="col-sm-3 col-form-label input-label">Birthday</label>

                        <div class="col-sm-9">
                            <div class="input-group input-group-sm-down-break">
                                <!-- Flatpickr -->
                                <input asp-for="DateOfBirth" type="text" id="birthLabel" class="js-flatpickr form-control" placeholder="Select dates"
                                       data-hs-flatpickr-options='{
                                           "dateFormat": "Y-m-d"
                                       }'>
                                <!-- End Flatpickr -->

                                <div class="input-group-append">
                                    <!-- Select2 -->
                                    <select asp-for=Gender id="genderLabel" class="js-select2-custom custom-select" size="1" style="opacity: 0;"
                                            data-hs-select2-options='{"minimumResultsForSearch": "Infinity",
                                                                  "placeholder": "Select gender"}'>
                                        <option label="empty"></option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                    <!-- End Select2 -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Form Group --> <!-- Form Group -->
                    <div class="row form-group">
                        <label for="emailLabel" class="col-sm-3 col-form-label input-label">Email</label>

                        <div class="col-sm-9">
                            <input asp-for="Email" type="email" required class="form-control" name="email" id="emailLabel" placeholder="clarice@example.com" aria-label="clarice@example.com">
                        </div>
                    </div>
                    <!-- End Form Group -->
                    <!-- Form Group -->
                    <div class="row form-group">
                        <label for="emailLabel" class="col-sm-3 col-form-label input-label">Phone</label>
                        <div class="col-sm-9">
                            <input asp-for="Phone" type="text" id="phoneLabel" required class="js-masked-input form-control" placeholder="+84 000 000 000"
                                   data-hs-mask-options='{
                                   "template": "+00 000 000 000"
                                   }' maxlength="16" />
                        </div>
                    </div>
                    <!-- End Form Group -->
                    <!-- Form Group -->
                    <div class="row form-group">
                        <label for="emailLabel" class="col-sm-3 col-form-label input-label">Duration</label>
                        <div class="col-sm-9">
                            <input asp-for="Duration" type="text" id="durationLabel" required class="js-masked-input form-control" placeholder="Start Date - End Date"
                                   data-hs-mask-options='{
                                   "template": "00/00/0000 - 00/00/0000"
                                   }'>
                        </div>
                    </div>
                    <!-- End Form Group -->
                    <!-- Form Group -->
                    <div class="row form-group">
                        <label class="col-sm-3 col-form-label input-label">Organization</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm-down-break">
                                <!-- Select2 -->
                                <select asp-for=OrganizationId id="orgnLabel" class="js-select2-custom custom-select" size="1" style="opacity: 0;"
                                        data-hs-select2-options='{"minimumResultsForSearch": "Infinity",
                                                                  "placeholder": "Select one"}'>
                                    <option label="empty"></option>
                                    @foreach (var og in Model.Organizationl)
                                    {
                                        <option value="@og.OrganizationId">@og.OrgName</option>
                                    }
                                </select>
                                <!-- End Select2 -->
                            </div>
                        </div>
                    </div>
                    <!-- End Form Group -->
                    <!-- Form Group -->
                    <div class="row form-group">
                        <label class="col-sm-3 col-form-label input-label">Courses</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm-down-break">
                                <!-- Select2 -->
                                <select asp-for=TrainingId id="trainLabel" class="js-select2-custom custom-select" size="1" style="opacity: 0;"
                                        data-hs-select2-options='{"minimumResultsForSearch": "Infinity",
                                                                  "placeholder": "Select one"}'>
                                    <option label="empty"></option>
                                    @foreach (var e in Model.Trainingl)
                                    {
                                        <option value="@e.TrainingId">@e.TraName</option>
                                    }
                                </select>
                                <!-- End Select2 -->
                            </div>
                        </div>
                    </div>
                    <!-- End Form Group -->
                    <!-- Form Group -->
                    <div class="row form-group">
                        <label class="col-sm-3 col-form-label input-label">Department</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm-down-break">
                                <!-- Select2 -->
                                <select asp-for=DepartmentId id="deptLabel" class="js-select2-custom custom-select" size="1" style="opacity: 0;"
                                        data-hs-select2-options='{"minimumResultsForSearch": "Infinity",
                                                                  "placeholder": "Select one"}'>
                                    <option label="empty"></option>
                                    @foreach (var de in Model.Departmentl)
                                    {
                                        <option value="@de.DepartmentId">@de.DepName</option>
                                    }
                                </select>
                                <!-- End Select2 -->
                            </div>
                        </div>
                    </div>
                    <!-- End Form Group -->
                    <!-- Form Group -->
                    <div class="row">
                        <label class="col-sm-3 col-form-label input-label">Intern type</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm-down-break">
                                <!-- Select2 -->
                                <select asp-for=Type id="typeLabel" class="js-select2-custom custom-select" size="1" style="opacity: 0;"
                                        data-hs-select2-options='{"minimumResultsForSearch": "Infinity",
                                                                  "placeholder": "Select one"}'>
                                    <option label="empty"></option>
                                    <option value="Full time">Full time</option>
                                    <option value="Part time">Part time</option>
                                </select>
                                <!-- End Select2 -->
                            </div>
                        </div>
                    </div>
                    <!-- End Form Group -->
                </div>
                <!-- End Body -->
                <!-- Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="submit" id="cui-submit" class="btn btn-primary">Submit</button>
                </div>
                <!-- End Footer -->
            </div>
        </form>
    </div>
</div>
